/* Box model */

.header,
.menu,
.main-intro,
.main-illustration,
.main-content,
footer,
.address,
.tel,
.schedule-title {
    display: flex;
}

.header,
.menu,
.main-illustration,
.main-content,
footer {
    align-items: center;
}

.header {
    min-height: 136px;
}

.header-el {
    display: inline-block;
}

.logo-header {
    margin-left: 13%;
    margin-right: 12%;
}

#sell-apt-link {
    width: 13vw;
}

#client-stories {
    width: 11vw;
    margin-left: 1.82vw;
}

#phone-icon-header {
    margin-left: 3.13vw;
    transform: rotate(6.22deg);
}

#header-tel {
    width: 11vw;
    margin-left: 0.41vw;
}

.header .button {
    width: 14.27vw;
    min-height: 56px;
    margin-left: 0.83vw;
    color: #121761;
}

.main-intro {
    min-height: 536px;
    position: relative;
    flex-direction: column;
}

.main-intro p,
.main-intro button {
    margin-left: 13%;
}

.intro-text-1 {
    margin-top: 79px;
}

.intro-text-2 {
    margin-top: 1px;
    line-height: 53px;
}

.main-intro .button {
    width: 24%;
    min-height: 72px;
    margin-top: 31px;
}

.intro-image {
    position: absolute;
    bottom: 0%;
    right: 7%;
}

.main-illustration {
    justify-content: center;
    min-height: 644px;
}

.illustration {
    margin-right: 3%;
}

.main-content {
    flex-direction: column;
}

.quiz {
    position: relative;
    width: 64%;
    min-height: 710px;
    margin-bottom: 119px;
}

.quiz .text,
.quiz .button {
    margin-left: 34.6%;
}

.quiz-text-1 {
    margin-top: 67px;
}

.quiz-text-2 {
    margin-top: 74px;
}

.quiz .button {
    width: 44.23%;
    height: 72px;
    margin-top: 30px;
}

.quiz-text-3 {
    width: 34%;
    margin-top: 63px;
}

.arrow {
    position: absolute;
    top: 400px;
    right: 13%;
    transform: rotate(-7.6deg);
}

footer {
    justify-content: space-around;
    min-height: 223px;
    margin-top: 171px;
}

footer p,
.main-illustration {
    margin: 0px;
}

.tel {
    margin-top: 16px;
}

#location-icon {
    margin-right: 1vw;
}

#phone-icon-footer {
    margin-right: 0.63vw;
}

#clock-icon {
    margin-right: 11px;
}

/* Typography */
body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.intro-text-2,
.main-intro .button,
.quiz .button {
    font-weight: 700;
}

.header {
    font-size: 1.25em;
    line-height: 24px;
}

.main-intro .button,
.content-text,
.quiz .button {
    text-align: center;
}

.intro-text-2,
.content-text {
    font-size: 2.8125em;
}

.content-text {
    line-height: 60px;
}

.intro-text-1,
.quiz-text-1,
.quiz-text-3,
.schedule {
    font-size: 1em;
    line-height: 26px;
}

.main-intro .button,
.quiz .button {
    font-size: 1.4375em;
    line-height: 28px;
}

.quiz-text-2 {
    font-size: 2.1875em;
    line-height: 45px;
}

footer {
    font-size: 0.875em;
    line-height: 21px;
}

.menu a,
.main-intro .button,
.quiz {
    color: #475658;
}

.main-intro,
.quiz .button,
footer,
footer a {
    color: #FFFFFF;
}

.content-text,
.quiz-text-2 {
    color: #03073C;
}

.quiz .highlight {
    color: #D44B4B;
}

/* Decoration */
a {
    text-decoration: none;
}

.main-intro,
.quiz .button {
    background-color: #D44B4B;
}

footer {
    background-color: #475658;
}

.header .button,
.main-intro .button {
    background-color: #FFFFFF;
}

.main-intro .border-highlight {
    border: 1px solid #FFFFFF;
}

.main-content .border-highlight {
    border: 1px solid #D44B4B;
}

.border-highlight {
    border-radius: 20px;
}

.quiz {
    border: 1px solid #F2F2F2;
    box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
    border-radius: 20px;
}

.header .button {
    border: 1px solid #121761;
}

.main-intro .button {
    border: 1px solid #FFFFFF;
    box-shadow: 2px 2px 4px #A1303C;
}

.quiz .button {
    border: 1px solid #D44B4B;
    box-shadow: 2px 2px 5px #F0F0F0;
}

.button {
    border-radius: 10px;
}

/* Other */
.header .button:hover,
.main-intro .button:hover {
    background-color: #F0F0F0;
}

.quiz .button:hover {
    background-color: #A1303C;
}

.menu a:hover,
footer a:hover {
    text-decoration: underline;
}

.menu a :focus {
    color: #A1303C;
}

.menu a:active,
footer a:active {
    color: #20289d;
}

.link:visited {
    color: #A1303C;
}